@model HD_SUPPORT.Models.Administrador

@{
    Layout = "_LayoutForm";
    ViewData["Title"] = "DetalharAdministrador";
}

<hr />

<div style="display: flex; flex-direction:column;">
    <div style="display: flex; justify-content: space-between; margin-bottom: 100px;">
        <a asp-action="IndexAdministradores" class="btn btn-outline-dark">Voltar para lista</a>
        <form asp-action="ExcluirAdministrador" asp-route-administradorid="@Model?.Id">
            <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
    </div>
    <dl class="detalhesAdm">
        <div class="div-line">
            <dt class="">
                <label class="label-info">Nome:</label>
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Nome)
            </dd>
        </div>
        <div class="div-line">
            <dt class="">
                <label class="label-info">Email:</label>
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Email)
            </dd>
        </div>
        <div class="div-line">
            <dt class="">
                <label class="label-info">Senha:</label>
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Senha)
            </dd>
        </div>
    </dl>
</div>