@model HD_SUPPORT.Models.Administrador

@{
    Layout = "_LayoutForm";
    ViewData["Title"] = "NovoAdministrador";
}

<hr />

<section style="display: flex; flex-direction:column;">
    <div style="display: flex; justify-content: space-between;">
        <a asp-action="IndexAdministradores" class="btn btn-outline-dark">Voltar para lista</a>
    </div>
    <div class="input-pai">
        <div class="wrapper">
            <form asp-action="NovoAdministrador">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="input-box">
                    <span class="icon">
                        <i class="bi bi-person-circle"></i>
                    </span>
                    <input asp-for="Nome" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                    <label>Nome</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <i class="bi bi-envelope-fill"></i>
                    </span>
                    <input asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <span class="icon">
                        <i class="bi bi-lock-fill"></i>
                    </span>
                    <input asp-for="Senha" />
                    <span asp-validation-for="Senha" class="text-danger"></span>
                    <label>Senha</label>
                </div>
                <div class="form-group">
                    <button type="submit" class="button-Edit" style="width: 100%;">Confirmar</button>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
