@model HD_SUPPORT.Models.Equipamento

@{
    Layout = "_LayoutForm";
    ViewData["Title"] = "AtualizarEquipamento";
}

<hr />
<section style="display: flex; flex-direction:column;">
    <div style="display: flex; justify-content: space-between;">
        <a asp-action="IndexEquipamentos" class="btn btn-outline-dark">Voltar para lista</a>
        <form asp-action="ExcluirEquipamento" asp-route-equipamentoid="@Model?.Id">
            <button type="submit" class="btn btn-danger">Excluir</button>
        </form>
    </div>

    <div class="input-pai2">
        <div class="wrapper2">
            <form asp-action="AtualizarEquipamento" style="display: flex;">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div style="margin-right: 40px;">
                    <div class="input-box2">
                        <input asp-for="NomeUsuario" />
                        <span asp-validation-for="NomeUsuario" class="text-danger"></span>
                        <label>Nome</label>
                    </div>
                    <div class="input-box2">
                        <input asp-for="EmailUsuario" />
                        <span asp-validation-for="EmailUsuario" class="text-danger"></span>
                        <label>Email</label>
                    </div>
                    <div class="input-box2">
                        <input asp-for="TelefoneUsuario" />
                        <span asp-validation-for="TelefoneUsuario" class="text-danger"></span>
                        <label>Telefone</label>
                    </div>
                    <div class="input-box2">
                        <input asp-for="StatusUsuario" />
                        <span asp-validation-for="StatusUsuario" class="text-danger"></span>
                        <label>modelo</label>
                    </div>
                    <div class="input-box2">
                        <input asp-for="CategoriaUsuario" />
                        <span asp-validation-for="CategoriaUsuario" class="text-danger"></span>
                        <label>funcão</label>
                    </div>
                </div>
                <div>
                    <div class="input-box2">
                        <input asp-for="IdPatrimonio" />
                        <span asp-validation-for="IdPatrimonio" class="text-danger"></span>
                        <label>Id patrimonio</label>
                    </div>
                    <div class="input-box2">
                        <input asp-for="ModeloMarca" />
                        <span asp-validation-for="ModeloMarca" class="text-danger"></span>
                        <label>Marca</label>
                    </div>
                    <div class="input-box2">
                        <input asp-for="Processador" />
                        <span asp-validation-for="Processador" class="text-danger"></span>
                        <label>Processador</label>
                    </div>
                    <div class="input-box2">
                        <input asp-for="InicioEmprestimo" />
                        <span asp-validation-for="InicioEmprestimo" class="text-danger"></span>
                        <label>data do emprenstimo</label>
                    </div>
                    <div class="input-box2">
                        <input asp-for="TerminoEmprestimo" />
                        <span asp-validation-for="TerminoEmprestimo" class="text-danger"></span>
                        <label>Condição</label>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="button-Edit">Confirmar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
