@{
    var nomeUsuario = ViewBag.UsuarioNome as string;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HD_SUPPORT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HD_SUPPORT.styles.css" asp-append-version="true" />
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.css" rel="stylesheet">
</head>
<body>

    <div class="video-width">
        <video class="video-background" src="~/video.mp4" autoplay loop muted></video>
    </div>
    <header>
        <div class="img-text">
            <img src="~/Logo.png" alt="Logo">
            <h1>Support</h1>
        </div>
        <nav>
            <ul>
               
                <li><a asp-area="" class="btn-nav align-user-img"><img class="img-user" src="~/usuario-icon.png" /> @nomeUsuario</a></li>
                <li><a asp-controller="Login" asp-action="Logout"><img class="img-logout" src="~/sair.png" /></a></li>
            </ul>
        </nav>
    </header>

    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
