
@{
    var nomeUsuario = ViewBag.UsuarioNome as string;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HD_SUPPORT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/HD_SUPPORT.styles.css" asp-append-version="true" />
    <link href="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>

    <div class="video-width">
        <video class="video-background" src="~/video.mp4" autoplay loop muted></video>
    </div>
    <header>
        <div class="img-text">
            <img src="~/Logo.png" alt="Logo">
            <h1>Support</h1>
        </div>
        </div>

            <nav>
                <ul>
                    <li><a asp-area="" asp-controller="Administradores" asp-action="IndexAdministradores" class="btn-nav">Administradores</a></li>
                    <li><a asp-area="" asp-controller="Equipamentos" asp-action="IndexEquipamentos" class="btn-nav">Equipamentos</a></li>
                    <li><a asp-area="" class="btn-nav align-user-img"><img class="img-user" src="~/usuario-icon.png"/> @nomeUsuario</a></li>
                    <li><a asp-controller="Login" asp-action="Logout"><img class="img-logout" src="~/sair.png" /></a></li>
                </ul>
            </nav>
        <button class="abrirMenu"><i class="bi bi-list"></i></button>
        <div class="menuHamburg">
            <button class="fecharMenu"><i class="bi bi-x-circle"></i></button>
            <a asp-area="" asp-controller="Administradores" asp-action="IndexAdministradores" class="linkMenu">Administradores</a></li>
            <a asp-area="" asp-controller="Equipamentos" asp-action="IndexEquipamentos" class="linkMenu">Equipamentos</a></li>
            <a asp-area="" class="linkMenu align-user-img"><img class="img-user" src="~/usuario-icon.png" /> @nomeUsuario</a></li>
            <a asp-controller="Login" asp-action="Logout"><img class="img-logout" src="~/sair.png" style="margin: 10px 40px;" /></a></li>
        </div>
    </header>

    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.13.8/datatables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
