@model HD_SUPPORT.Models.Administrador

@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Pagina Inicial";
}

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<div class="content">
    <div class="left">
        <h1>Faça login em nosso site para ter acesso as nossas tecnologias!</h1>
        <img class="img-decoration" src="~/computer.png" alt="image">
    </div>
    <div class="input-pai">
        <div class="wrapper">
            <span class="icon-close">
                <i class="bi bi-x-lg" style="color: white; font-size: 18px;"></i>
            </span>
            <div class="form-box login">
                <h2>Entrar</h2>
                <form asp-controller="Login" asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="input-box">
                        <span class="icon">
                            <i class="bi bi-envelope-fill"></i>
                        </span>
                        <input type="email" asp-for="Email" required>
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon">
                            <i class="bi bi-lock-fill"></i>
                        </span>
                        <input type="password" asp-for="Senha" required>
                        <span asp-validation-for="Senha" class="text-danger"></span>
                        <label>Senha</label>
                    </div>
                    <div class="remember-forgot">
                        <label><input type="checkbox">Lembrar de mim</label>
                        <a href="#">Esqueceu a senha?</a>
                    </div>
                    <button type="submit" class="btn" style="color: #fff;">Entrar</button>
                    <div class="login-register">
                        <p>Não possui conta? <a href="#" class="register-link">Registre-se</a></p>
                    </div>
                    @if (TempData["MensagemErro"] != null)
                    {
                        <div class="alert-error-tempdata" role="alert">
                            @TempData["MensagemErro"]
                        </div>
                    }
                </form>
            </div>
            <div class="form-box register">
                <h2>Registro</h2>
                <form asp-action="NovoAdministrador" asp-controller="Administradores">
                    
                    <div class="input-box">
                        <span class="icon">
                            <i class="bi bi-person-circle"></i>
                        </span>
                        <input asp-for="Nome"/>
                        <span asp-validation-for="Nome" class="text-danger"></span>
                        <label>Nome</label>
                    </div>
                    <div class="input-box">
                        <span class="icon">
                            <i class="bi bi-envelope-fill"></i>
                        </span>
                        <input asp-for="Email"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <label>Email</label>
                    </div>
                    <div class="input-box">
                        <span class="icon">
                            <i class="bi bi-lock-fill"></i>
                        </span>
                        <input asp-for="Senha"/>
                        <span asp-validation-for="Senha" class="text-danger"></span>
                        <label>Senha</label>
                    </div>
                    <div class="remember-forgot">
                        <label><input type="checkbox">Concordo com os termos e condições</label>
                    </div>
                    <button type="submit" class="btn" style="color: #fff;">Registrar</button>
                     <div class="login-register">
                        <p>Já possui conta? <a href="#" class="login-link">Entrar</a></p>
                    </div>
                    @if (TempData["MensagemErro"] != null)
                    {
                        <div class="alert-error-tempdata" role="alert">
                            @TempData["MensagemErro"]
                        </div>
                    }
                    <div class="logn-register">
                        <input type="submit" value="" class="login-link" style="border: none; background: none;"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>